:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-background-color: #0c0b0b;
}

body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: #FFF;
}

.form {
  display: flex;
}

.form-data-value {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  margin: 0 0 20px 0;
}

.form-input {
  font-size: 1rem;
  padding: 5px;
  margin: 0 4px;
}

.style-button {
  background-color: #34b3ee;
  padding: 10px;
  font-size: 1.5rem;
  border-color: transparent;
  border-radius: 5px;
  color: #FFF;
}

.style-button:hover {
  background-color: #5dc7f7;
  transition: 500ms;
  cursor: pointer;
}

.user-data-label {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  background-color: #121212;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
}

.user-data-div {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  background-color: #222121;
  padding: 10px;
}

.user-data-div:hover {
  background-color: #383737;
  transition: 500ms;
  cursor: pointer;
}

.user-id,
.user-name,
.user-role {
  width: 100%;
  text-align: center;
}

.center-margin {
  text-align: center;
  margin: 20px 0;
}